<!--<td-layout #layout>
    <td-navigation-drawer flex sidenavTitle="URS" >
        <mat-nav-list>
            <a mat-list-item [routerLink]="['/']" (click)="layout.close()" routerLinkActive="nav-active" [routerLinkActiveOptions]="{exact: true}"><mat-icon>home</mat-icon>Home</a>
            <a mat-list-item [routerLink]="['/admin']" (click)="layout.close()" routerLinkActive="nav-active"><mat-icon>account_box</mat-icon>Admin</a>
            <a mat-list-item [routerLink]="['/submissionList']" (click)="layout.close()" routerLinkActive="nav-active"><mat-icon>account_box</mat-icon>Submission List</a>
            <a mat-list-item [routerLink]="['/accountInfo']" (click)="layout.close()" routerLinkActive="nav-active"><mat-icon>account_box</mat-icon>Account Information</a>
        </mat-nav-list>
    </td-navigation-drawer>
    <td-layout-nav  toolbarTitle="Menu" navigationRoute="/">
        <button mat-icon-button td-menu-button tdLayoutToggle>
            <mat-icon>menu</mat-icon>
        </button>
        <router-outlet></router-outlet>
    </td-layout-nav>
</td-layout>-->

<mat-toolbar color="primary" class="navigation">
    <button mat-button routerLink="/">Undergraduate Research Symposium</button>
    <span flex=""></span>
    <button mat-button routerLink="/">Home</button>
    <button mat-button routerLink="/admin">Admin</button>
    <button mat-button routerLink="/submissionList">Submission List</button>
</mat-toolbar>
